.photo {
    border-radius: 100px;
    margin-bottom: 20px;
}
.name {
    margin-top: 0;
    margin-bottom: 20px;
    text-align: center;
    word-wrap: break-word;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.occupation {
    margin-bottom: 0px;
    margin-top: 0px;
}
.mail {
    margin-top: 0px;
    margin-bottom: 0px;
   
    
}
.phone {
    margin-top: 0px;
    margin-bottom: 0px;
  
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}
.info {
    word-wrap: break-word;
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: rgba(0, 0, 0, 0.87);
      
      
}
@media screen and (min-width: 360px) {
    .info {
    width: 288px;
     
       
    }
        .name {
          width: 288px;
    
        }
        .tooltiptextPhone {
            width:90px
        }
        .tooltiptextMail { 
            width: 90px;
        }


}

@media screen and (min-width: 768px) {
.info {
     width:  304px;
    

    }
        .name {
          width: 304px;
          
    
        }
               
}

@media screen and (min-width: 1024px) {
    .info {
        width: 242px;
       
    }
        .name {
            width: 242px;
         
    
        }
}

@media screen and (min-width: 2560px) {
    .info {
            width: 330px;
          
        }
                .name {
                    width: 330px;
                    
        
                }
}
/* .tooltiptextMail {
    display: none;
    width: 276px;
    background: rgba(0, 0, 0, 0.87);
    color:  rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 3px 16px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 42px;
    left: 50%;
    right: 50%;
   
}
.linkMail {
    position: relative;
    display: block;
}
.linkMail:hover .tooltiptextMail {
    visibility: visible;
}
.tooltiptextPhone {
    visibility: hidden;
    background: rgba(0, 0, 0, 0.87);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    padding: 3px 16px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
    top: 42px;
    left: 50%;
    right: 50%;
    width: 272px;

}

.linkPhone {
    position: relative;
    display: block
}

.linkPhone:hover .tooltiptextPhone {
    visibility: visible;
} */