    .container {
        background-color: #FFFFFF;
       
       
    }
    @media screen and (min-width: 360px) {
     .container {
         min-width: 360px;
       
        
        
       
         
     }
    }

    @media screen and (min-width: 768px) {
    .container {
            min-width: 768px;
            padding-right: 16px;
            padding-left: 16px;
          
          
           
    
        }
    }

    @media screen and (min-width: 1024px) {
    .container {
            min-width: 1024px;
            padding-right: 16px;
            padding-left: 16px;
            
           
    
        }
        
    }
    @media screen and (min-width: 2560px) {
    .container {
            min-width: 2560px;
            padding-right: 16px;
            padding-left: 16px;
          
           
    
        }
    }
