.buttonsContainer {
    display: flex;
}
.wrap {
    padding-top: 140px;
    background: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    padding-left: 16px;
    flex-direction: column;
        
}
 @media screen and (min-width: 2560px) {
     .main {
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
     }
    }