.item {
    list-style-type: none;
    padding-top: 20px;
    padding: 20px;
    background: #FFFFFF;
    
}
.list{
    
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
  
  
    
}
 @media screen and (min-width: 360px) {
    .item {
       margin-bottom: 20px;
        margin-right: 0;
       
     }
      .list { 
            grid-template-columns: 1fr;
            margin-bottom: -20px;
         }


 }

 @media screen and (min-width: 768px) {
    .item {
           margin-bottom: 16px; margin-right: 16px;
           }
                  .list {
                      grid-template-columns: 1fr 1fr;
                      margin-right: -16px;
                      margin-bottom: -16px;
                  }
                                  
 }

 @media screen and (min-width: 1024px) {
    .item {
           margin-bottom: 29px;
        }
                  .list {
                      grid-template-columns: 1fr 1fr 1fr;
                      margin-bottom: -29px;
                  }
                                 

 }

 @media screen and (min-width: 2560px) {
    .item {
           margin-bottom: 29px; margin-right: 29px;
        }
                 .list {
                     grid-template-columns: 1fr 1fr 1fr;
                     margin-bottom: -29px;
                     margin-right: -29px;
                 }
                              
 }
  