@import-normalize;
/* bring in normalize.css styles */

html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;

}

*,
*::before,
*::after {
  box-sizing: inherit;

}
body {
  margin: 0;
  color:rgba(0, 0, 0, 0.87);
  background-color: #F8F8F8;
  font-family: 'Nunito', sans-serif;


}

img {
  display: block;

}
a {
  text-decoration: none;
  display: block;
  color: rgba(0, 0, 0, 0.87);
}

 button {
   cursor: pointer;
 }